body {

    margin: 0;
}


/******** STARTSIDE START  ********/

#baggrund {

    background-image: url(img/titel-01.svg);
    position: relative;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
    background-size: cover;
}

#gangen {
    background-image: url(img/gang.svg);
    position: relative;
    background-repeat: no-repeat;
    width: 100vw;
    height: 56.25vw;
}


#plakat {

    background-image: url(img/plakat.jpg);
    position: relative;
    background-repeat: no-repeat;
    width: 12vw;
    height: 15vw;
    background-size: 100%;
    top: 10%;
    right: -70%;
}

.puls {
    animation: puls_kf 0.5s infinite alternate linear;
}

@keyframes puls_kf {
    0% {
        transform: scale();
    }
    100% {
        transform: scale(1.1);
    }
}

.hide {
    display: none;
}




.start {

    background-image: url("img/start_knap.svg");
    background-repeat: no-repeat;

    position: absolute;
    height: 7vw;
    width: 17vw;

    top: 25vw;
    left: 65vw;

}









/********* STARTSIDE SLUT ********/

/******** OFFER START ******/

#offer_container {

    position: absolute;
    top: 10vw;
    right: -10vw;

}

#offer_sprite {

    background-image: url(img/offer_spritesheet.svg);
    background-size: 900% 300%;
    width: 20vw;
    height: 40vw;
    z-index: 9;


}


.offer_walkcycle {
    animation-name: offer_walkcycle_kf;
    animation-duration: 1s;
    animation-timing-function: steps(5);
    animation-iteration-count: infinite;

}

@keyframes offer_walkcycle_kf {
    0% {
        background-position: 0% -200%;
    }
    100% {
        background-position: -500% -200%;
    }
}


.gaa_til_venstre {

    animation-name: gaa_til_venstre_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: linear;

}


@keyframes gaa_til_venstre_kf {

    0% {
        right: -10vw;
    }
    100% {

        right: 66vw;
    }
}


.offer_bloder {

    animation-name: offer_bloder_kf;
    animation-duration: 2s;
    animation-timing-function: steps(8);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes offer_bloder_kf {

    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -800% 0%;
    }


}

/******* OFFER SLUT *******/

/****** MOBBER START ******/

#mobber_container {

    position: absolute;
    z-index: 2;
}

#mobber_sprite {

    background-image: url(img/mobber_walkcycle-02.svg);
    background-size: 400% 200%;
    width: 22vw;
    height: 44vw;
}

.mobber_position {

    top: 9vw;
    left: 80vw;
}

.mobber_gaa {
    animation-name: gaa_mobber_kf;
    animation-duration: 1.5s;
    animation-timing-function: steps(3);
    animation-iteration-count: infinite;
    animation-direction: reverse;

}

@keyframes gaa_mobber_kf {
    0% {
        background-position: 0% -100%;
    }
    100% {
        background-position: -300% -100%;
    }
}

.mobber_gaa_til_venstre {

    animation-name: mobber_gaa_til_venstre_kf;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: linear;

}


@keyframes mobber_gaa_til_venstre_kf {

    0% {
        left: 120vw;
    }
    100% {

        left: 35vw;
    }
}

.mobberStaaStille {

    background-position: 500% 0%;

}


#mobber_mobil_container {

    position: absolute;
    top: 2vw;
    right: -40vw;
    z-index: 12;
}

#mobber_mobil_sprite {

    background-image: url(img/mobber_mobil_final@4x.png);
    background-size: 500% 300%;
    width: 40vw;
    height: 80vw;
}

.mobber_mobil_walkcycle {
    animation-name: mobber_mobil_walkcycle_kf;
    animation-duration: 4s;
    animation-timing-function: steps(3);
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

@keyframes mobber_mobil_walkcycle_kf {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -300% 0%;
    }
}

.mobber_mobil_ind {
    animation-name: mobber_mobil_ind_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes mobber_mobil_ind_kf {
    0% {
        right: -40vw;
    }
    100% {
        right: 10vw;
    }
}

.mobber_mobil_ud {
    animation-name: mobber_mobil_ud_kf;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes mobber_mobil_ud_kf {
    0% {
        right: 10vw;
    }
    100% {
        right: -40vw;
    }
}


/****** VENINDER START **********/

#veninde_red_container {

    position: absolute;
    top: 10vw;
    right: -30vw;

}

#veninde_purple_container {

    position: absolute;
    top: 10vw;
    right: -40vw;
}

#veninde_purple_sprite {

    background-image: url(img/veninde_purple.svg);
    background-size: 400% 100%;
    width: 20vw;
    height: 40vw;
}

#veninde_red_sprite {

    background-image: url(img/veninde_red.svg);
    background-size: 400% 100%;
    width: 20vw;
    height: 40vw;
}


.veninde_purple_ind_walkcycle {

    animation-name: veninde_purple_ind_walkcycle_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}


@keyframes veninde_purple_ind_walkcycle_kf {

    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -400% 0%;
    }
}

.veninde_red_ind_walkcycle {

    animation-name: veninde_red_ind_walkcycle_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
    animation-direction: reverse;

}

@keyframes veninde_red_ind_walkcycle_kf {

    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: -400% 0%;
    }


}

.veninde_red_move {

    animation-name: veninde_red_move_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


}

@keyframes veninde_red_move_kf {

    0% {
        right: -30vw;
    }
    100% {
        right: 40vw;
    }
}

.veninde_purple_move {

    animation-name: veninde_purple_move_kf;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


}

@keyframes veninde_purple_move_kf {

    0% {
        right: -40vw;
    }
    100% {
        right: 30vw;
    }
}









/****** LAERER START ******/

.laerer {

    background-image: url(img/skolelaerer-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;


}
